body {
    background-color: black;
    line-height: 13px;
}

h1 {
    text-align: center;
    font-family: "Diplomata SC", serif;
    color: #9AAB89;
    font-size: 7vw;
}

h1.news {
    text-align: center;
    font-family: "Diplomata SC", serif;
    color: #9AAB89;
    font-size: 7vw;
    line-height: 6vw;
}

h2 {
    text-align: center;
    font-family: "Special Elite", system-ui;
    color: #9AAB89;
    font-size: 1.5vw;
    line-height: 3vw;
}

h3 {
    text-align: center;
    font-family: "Special Elite", system-ui;
    color: #9AAB89;
    font-size: 1vw
}

h5 {
    margin-bottom: 2vw;
    text-align: center;
    font-family: "Special Elite", system-ui;
    color: #9AAB89;
    font-size: 1vw
}

h4 {
    line-height: 2.5vh;
    text-align: center;
    font-family: "Diplomata SC", serif;
    color: #9AAB89;
    font-size: 30px
}

div.navigation {
    width: 99%;
    height: 75px;
    text-align: center;
}

button.navbutton {
    background-color: black;
    color: #9AAB89;
    border-style: none;
    font-family: "Diplomata SC", serif;
    font-size: 20px;
}

button.navbutton:hover {
    background-color: black;
    color: #9AAB89;
    text-decoration: underline;
    border-style: none;
    font-family: "Diplomata SC", serif;
    font-size: 20px;
}

p1 {
    display: flex;
    justify-content: center;
    font-family: "Special Elite", system-ui;
    color: #9AAB89;
    font-size: 25px
}

p2 {
    line-height: 1.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Special Elite", system-ui;
    color: #9AAB89;
    font-size: 20px
}

button.link {
    text-align: center;
    text-decoration: underline;
    font-family: "Special Elite", system-ui;
    color: #b0bea2;
    background-color: black;
    border-style: none;
    font-size: 1vw
}